* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: aliceblue;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 1000;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > img {
    width: 50px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;

}

ul li.ativo {
    background-color: gray;
}


ul li.item-menu {
    transition: 0.7s;
}

ul li.item-menu:hover {
    background-color: gray;
}

ul li.item-menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
    margin-left: 10px;
}

.section-container {
    max-width: 100%;
    column-count: 4;
    padding: 28px;
    position:inherit;
    padding-left: 7%;
}

@media screen and (max-width: 1024px) {
    .section-container {
        column-count: 3; /* Reduz para 2 colunas em telas menores */
    }
}

@media screen and (max-width: 768px) {
    .section-container {
        column-count: 2; /* Apenas 1 coluna em telas pequenas */
    }
}

.container img {
    width: 100%;
    border-radius: 17px;
    transition: all linear 200ms;
}

.container {
    margin-bottom: 10px;
    transition: all linear 200ms;
    break-inside: avoid-column;
}

.container:hover img{
    transform: scale(1.04);
    position: inherit;
}

/* tela de explorar */

.search-container {
    position: relative;
    width: 78%;
    margin: 50px auto;
    z-index: 10;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    padding: 12px 12px 12px 40px; 
}

.search-box:focus {
    border-color: #ff7f50;
}

.search-box:hover{
    background-color: #e4dfdf;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #777;
}

.fraseExplorar {
    text-align: center;
    font-size: 40px;
}

.containerExplorar {
    text-align: center; /* Centraliza os elementos */
}

.slideExplorar {
    display: inline-block; /* Coloca os elementos lado a lado */
}

.slideExplorar img {
    border-radius: 50px;
    max-width: 80%;
    margin: 0; 
    margin-top: 10%;
}